body {
  background-color: #4a90e2;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(
      rgba(74, 144, 226, 0.2),
      rgba(74, 144, 226, 0.2)
    ),
    url(../images/taylor-swift-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding: 286px 0 auto;
  max-width: 1512px;
  min-height: auto;
}
header h1 {
  font-family: "Playfair Display", sans-serif;
  font-size: 128px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0px;
  margin: 0px;
}
header h2 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0px;
  text-align: center;
  margin: 0;
}
header h3 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 5px;
  text-align: center;
  margin: 0;
}
header a {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  padding: 16px 32px;
  margin: 32px;
  border-radius: 100px;
  display: inline-block;
  text-decoration: none;
  background: #4a90e2;
}
@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }
  header a {
    font-size: 12px;
    padding: 8px 16px;
    margin: 16px;
  }
}
