body {
  background-color: #a7b5fe;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 20px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.text-center {
  text-align: center;
}

.card {
  background-color: rgba(255, 255, 255, 0.75);
  color: #000000;
  border-radius: 15px;
}

.card h4 {
  font-family: "Roboto", sans-serif;
  font-size: 27px;
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
  margin: 0;
  padding: 5px 24px;
}
.card h5 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
  margin: 0;
  padding: 7px 24px;
}
.card p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  margin: 0;
  padding: 10px 24px;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  padding: 16px 70px;
  margin: 24px 32px;
  border-radius: 100px;
  display: block;
  text-decoration: none;
  background: #4a90e2;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section.secondary {
  background-image: linear-gradient(
      rgba(74, 144, 226, 0.2),
      rgba(74, 144, 226, 0.2)
    ),
    url(../images/taylor-swift-2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
.secondary h2 {
  margin: 0 0 20px 0;
}
.secondary h3 {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  padding: 2px 6px;
}

header {
  background-image: linear-gradient(
      rgba(74, 144, 226, 0.2),
      rgba(74, 144, 226, 0.2)
    ),
    url(../images/taylor-swift-header.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-family: "Playfair Display", sans-serif;
  font-size: 128px;
  font-weight: 700;
  line-height: 1.5;
  margin: 30px 0;
}
header h2 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0px;
  margin: 0;
}
header h3 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}
header a {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  padding: 16px 32px;
  margin: 32px;
  border-radius: 100px;
  display: inline-block;
  text-decoration: none;
  background: #4a90e2;
}

main {
  background-color: #ffffff;
}

main h2 {
  font-family: "Playfair Display" sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
  margin: 0;
}
.primary h3 {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  text-align: left;
  text-transform: uppercase;
  padding: 2px 6px;
  background-color: #a7b5fe;
  display: inline-block;
}
main p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0px;
  text-align: left;
}
.main-image {
  max-width: 100%;
}

footer {
  color: #ffffff;
  background-image: linear-gradient(rgba(2, 4, 2, 0.8), rgba(2, 4, 3, 0.8)),
    url(/images/taylor-swift-footer.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 75px 0;
}

footer h4 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}
footer ul {
  padding: 0;
}
footer li {
  font-family: "Roboto", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
}
footer p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
footer a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}

.songs {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  padding: 2px 6px;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }
  header a {
    font-size: 12px;
    padding: 8px 16px;
    margin: 16px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  section {
    padding: 30px;
  }
}
